<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Back</a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="form">
        <form action="/users" , method="POST">
            <h2 class="add-usr">Add User</h2>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <input type="number" name="age" placeholder="Age">
            <input type="text" name="address" placeholder="Address">
            <input type="text" name="bio" placeholder="Bio">
            <input type="text" name="hobbies" placeholder="Hobbies">
            <div class="btn-wrapper">
                <input type="submit" value="Add User" class="add-btn btn bg-green">
            </div>
      
        </form>
    </div>
  

</body>

</html>